.Discount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.Desc{
    line-height: 35px;
    font-size: 15px;
    width: 75%;
    margin: 25px 0;
}
.DiscountBtn{
    text-decoration: none;
    color: #fff;
}
.DiscountBtn:hover{
    color: #fff;
}
@media (max-width: 500px){
    .Discount{
        flex-direction: column;
    }
    .Desc{
        width: 100%;
    }
    .DiscountImg{
        margin-top: 35px;
        width: 100%;
    }
}
@media (min-width: 768px){
    .Discount{
        flex-direction: column;
    }
    .Desc{
        width: 100%;
    }
    .DiscountImg{
        margin-top: 35px;
        width: 100%;
    }
}
@media (min-width: 1024px){
    .Discount{
        flex-direction: row;
    }
    .Desc{
        width: 75%;
        font-size: 16px;
    }
    .DiscountImg{
        margin-top: 35px;
    }
}